<!-- templates/tab_bar.html -->
<div th:fragment="tab-bar" class="mt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="btn btn-outline-success w-100 mb-2" th:href="@{/health}" th:classappend="${activeTab == 'employee'} ? ' active' : ''">List</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-success w-100 mb-2" th:href="@{/health}" th:classappend="${activeTab == 'add'} ? ' active' : ''">User</a>
        </li>
        <li class="nav-item" th:if="${activeTab == 'edit'}">
            <a class="btn btn-outline-success w-100" th:classappend="${activeTab == 'edit'} ? ' active' : ''">Edit employee</a>
        </li>

    </ul>
</div>
